<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiupeilian.carpart.mapper.ItemsMapper" >
  <resultMap id="BaseResultMap" type="com.xiupeilian.carpart.model.Items" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="delete_status" property="deleteStatus" jdbcType="INTEGER" />
    <result column="collection_count" property="collectionCount" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="part_id" property="partId" jdbcType="INTEGER" />
    <result column="prime_id" property="primeId" jdbcType="INTEGER" />
    <result column="reserved_field1" property="reservedField1" jdbcType="VARCHAR" />
    <result column="reserved_field2" property="reservedField2" jdbcType="VARCHAR" />
    <result column="reserved_field3" property="reservedField3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_id, title, content, user_id, pic_url, delete_status, collection_count, 
    update_time, brand_id, part_id, prime_id, reserved_field1, reserved_field2, reserved_field3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from items
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from items
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiupeilian.carpart.model.Items" >
    insert into items (id, company_id, title, 
      content, user_id, pic_url, 
      delete_status, collection_count, update_time, 
      brand_id, part_id, prime_id, 
      reserved_field1, reserved_field2, reserved_field3
      )
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{picUrl,jdbcType=VARCHAR}, 
      #{deleteStatus,jdbcType=INTEGER}, #{collectionCount,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{brandId,jdbcType=INTEGER}, #{partId,jdbcType=INTEGER}, #{primeId,jdbcType=INTEGER}, 
      #{reservedField1,jdbcType=VARCHAR}, #{reservedField2,jdbcType=VARCHAR}, #{reservedField3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiupeilian.carpart.model.Items" >
    insert into items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="deleteStatus != null" >
        delete_status,
      </if>
      <if test="collectionCount != null" >
        collection_count,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="partId != null" >
        part_id,
      </if>
      <if test="primeId != null" >
        prime_id,
      </if>
      <if test="reservedField1 != null" >
        reserved_field1,
      </if>
      <if test="reservedField2 != null" >
        reserved_field2,
      </if>
      <if test="reservedField3 != null" >
        reserved_field3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="collectionCount != null" >
        #{collectionCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="partId != null" >
        #{partId,jdbcType=INTEGER},
      </if>
      <if test="primeId != null" >
        #{primeId,jdbcType=INTEGER},
      </if>
      <if test="reservedField1 != null" >
        #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null" >
        #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null" >
        #{reservedField3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiupeilian.carpart.model.Items" >
    update items
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null" >
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="collectionCount != null" >
        collection_count = #{collectionCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="partId != null" >
        part_id = #{partId,jdbcType=INTEGER},
      </if>
      <if test="primeId != null" >
        prime_id = #{primeId,jdbcType=INTEGER},
      </if>
      <if test="reservedField1 != null" >
        reserved_field1 = #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null" >
        reserved_field2 = #{reservedField2,jdbcType=VARCHAR},
      </if>
      <if test="reservedField3 != null" >
        reserved_field3 = #{reservedField3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiupeilian.carpart.model.Items" >
    update items
    set company_id = #{companyId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      collection_count = #{collectionCount,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      brand_id = #{brandId,jdbcType=INTEGER},
      part_id = #{partId,jdbcType=INTEGER},
      prime_id = #{primeId,jdbcType=INTEGER},
      reserved_field1 = #{reservedField1,jdbcType=VARCHAR},
      reserved_field2 = #{reservedField2,jdbcType=VARCHAR},
      reserved_field3 = #{reservedField3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findItemsByQueryVo" parameterType="items" resultMap="BaseResultMap">
    select * from items
    <where>
      delete_status=0
      <if test="title != null and title != ''">
        and title like '%${title}%'
      </if>
      <if test="content != null and content != ''">
        and content like '%${content}%'
      </if>
      <!-- 如果用户选择的是所有品牌或压根没选 1表示所有品牌的id-->
      <if test="brandId != null and brandId!=1">
        and brand_id = #{brandId}

      </if>

      <if test="partId != null">
        and part_id =#{partId}
      </if>

    </where>
    order by update_time desc
  </select>

</mapper>